/***** KEY *****/
/* 1 Fonts */
/* 2 Entire Document */
/* 3 Header */
/* 4 For Every Page */
/* All other pages in subsequent order */



/***************/


/***** FONTS *****/
@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Light.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'LatoRegular';
    src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Regular.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'LatoBold';
	src: url('../fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
	url('../fonts/Lato-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/***** BLANK DOCUMENT SETUP *****/
* {
  	font-family: LatoRegular;
  	font-size: 1.05em;
  	color: black;
 	margin: 0;
 	padding: 0;
}

html {
	height: 100%;
	width: 100%;
}

body {
  	background: #FFF;
  	text-align: center;
}

/** HEADER - NAVIGATION **/

/* Logo size */
.db-logo-container {
	
}
#db-logo-img {
	width: 200px;
	height: 105px;
}

/* Navigation - BOOTSTRAP OVERRIDE!  */
#navigation {
	margin-left: 215px;
	border-color: #FFF !important;
	text-align: center !important;

}

.navbar-default {
	background-color: #FFF !important;
	border-color: #FFF !important;
	height: 130px !important;
}

.navbar-header {
	-height: 130px !important;
}
.navbar-nav a {
	color: #000 !important;
}

.navbar-nav{
	margin-top: 20px !important;
	display: inline-block !important;
	float: none !important;
	vertical-align: bottom !important;
}

.navbar-nav li{
	margin-left: auto !important;
	margin-right: auto !important;
}

.navbar-nav a:hover {
	text-decoration: none !important;
	background-color: #DDD !important;
	border-radius: 5px !important;
	transition: .4s background-color !important;
}

.navbar-nav a:active {
	background-color: #FFF !important;
	color: #444 !important;
	cursor: pointer !important;
}

/* Mobile dropdown */
@media (max-width: 767px) {
	#navigation {
		width: 40%;
		float: right;
		max-height: 390px;
	}

	.navbar-nav {
		margin-top: 0 !important;
		display: block !important;
	}

	.navbar-nav li {
		background-color: #FFF;
		border-radius: 5px;
		border-top: 1px solid #EEE !important;
		border-bottom: 1px solid #DDD !important;
	}

	#navigation {
		text-align: right;
	}

	.navbar-fixed-top.navbar-absolute {
		position: absolute;
		margin: 0;
	}

}

@media (min-width: 769px) {
	.navbar-nav li {
		float: none !important;
		display: inline-block !important;
	}
}

/* Large screens, makes logo look bigger */
@media (min-width: 1240px) {
	#db-logo-img {
		width: 200px;
		height: 105px;
	}
}

@media (min-width: 1340px) {
	#db-logo-img {
		width: 225px;
		height: 110px;
	}
}

/* Even bigger screens */
@media (min-width: 1440px) {
	#db-logo-img {
		width: 250px;
		height: 120px;
	}
}

@media (min-width: 1540px) {
	#db-logo-img {
		width: 270px;
		height: 125px;
	}
}

@media (min-width: 1640px) {
	#db-logo-img {
		width: 270px;
		height: 125px;
	}
}

/* Halve the content to 2 lines */
/* instead of dividing one by one */
@media (max-width: 1166px) and (min-width: 769px) {
	.navbar-nav {
		width: 523px;
	}
}


/** FOR EVERY PAGE **/
.heading-title {
	font-family: LatoBold !important;
	font-size: 2.5em !important;
}

.subheading-title {
	font-family: LatoBold !important;
	font-size: 1.5em !important;
}

/***** HOME *****/
.home-container {

}

.home-img {
	width: 100%;
	height: 100%;
}

/***** ABOUT *****/
.mission-statement {
	padding: 0 35px;
	font-size: 0.95em;
}

.about-img-container {
	border: 1px solid gray;
	padding-left: 2px;
	padding-right: 2px;
	-margin-left: -15px; 
}

.about-img {
	padding: 10px;
	width: 100%;
	height: 100%;
}

.roster-container {
	font-size: 0.9em;
	-border: 1px solid gray;
	line-height: 18px;
}

.our-team-title {
	font-family: LatoBold;
	font-size: 1.2em;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
	width: 100%;

}

.history-container {
	margin-top: 15px;
}

.roster-table_length {
	float: left;
}

.roster-table_filter {
	float: right;
}

/***** RACE RESULTS *****/
.results-container {
	font-size: 1em;
	line-height: 18px;	
}

.festival-title {
	font-family: LatoBold !important;
}

.results-table {
	font-size: 0.85em;
}

.results-table>thead>tr>th {
	text-align: center;
}

.results-table>tbody>tr:nth-child(odd)>td {
	background-color: lightgray;
}

.results-table>tbody>tr:nth-child(even)>td {
	background-color: #EEEEEE;
}

.results-table>tbody>tr>td:nth-child(1) {
	width: 40%;
}

.results-table>tbody>tr>td:nth-child(2) {
	width: 40%;
}

.results-table>tbody>tr>td:nth-child(3) {
	width: 20%;
}

.results-table-inner {
	font-size: 0.8em;
}

.results-table-inner>tbody>tr>td:nth-child(1) {
	width: 70%;
}

.results-table-inner>tbody>tr>td:nth-child(2) {
	width: 30%;
}

.results-table-inner>thead>tr>th {
	text-align: center;
}


/***** SPONSORS *****/
.sponsors-container {
	font-size: 1em;
	line-height: 18px;	
}

.sponsors-container .logo_1{
	text-align: center;
}

/***** DONATIONS *****/
.thanks-container {
	font-size: 1em;
	line-height: 18px;	
}

.donations-container {
	font-size: 1em;
	line-height: 18px;
	border: 1px solid gray;	
}

.progress-bar {
	background-color: #000;
	line-height: 18px;
	float: none;
}

.mobile-progress {
	text-align: left;
	padding-left: 5px;
}

.mobile-progress-label {
	text-align: left;
}

.mobile-progress-data {
	font-size: 0.8em;
}

@media (max-width: 991px) {
	.mobile-goal-container {
		display: block;
	}
	.desktop-goal-container {
		display: none;
	}
}

@media (min-width: 992px) {
	.mobile-goal-container {
		display: none;
	}
	.desktop-goal-container {
		display: block;
	}
}

.donation-logo:hover {
	box-shadow: 2px 2px 10px #000;
  	border-top: 1px solid #CCCCCC;
  	border-right: 1px solid #333333;
  	border-bottom: 1px solid #333333;
  	border-left: 1px solid #CCCCCC;
}
.donors-container {
	font-size: 1em;
	line-height: 18px;	
}

/***** ALUMNI *****/
.alumni-container {
	font-size: 1em;
	line-height: 18px;		
}

.ptp {
	font-family: LatoBold;
	line-height: 13px;	
}

/***** RECRUITMENT *****/
.recruitment-container {
	font-size: 1em;
	line-height: 18px;		
}

@media (min-width: 992px) {
	.practice-info {
		margin-top: 550px;
	}	
}

.location-captions {
	font-size: 0.8em;
	display: block;
	line-height: 8px;
	font-style: italic;
}

/***** PHOTOS *****/
.photos-container {

}

/***** CONTACTS *****/
